* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* text-transform: capitalize; */
    transition: all 0s linear;
    font-family: "Oswald", sans-serif, Arial, sans-serif;
}

.content-history {
    display: none;
    
}

.container-history {

    text-align: center;
    background: #ffff;
    padding: 2.7rem 1.3rem;
    width: 100%;
    min-width: fit-content;

    display: grid;
    grid-template-columns: 20% 30% 25% 25%;
    column-gap: 0;
    row-gap: 0;
}

.container-history div{
    border: 1px solid violet;
    padding: 0.7rem 0.2rem;

    font-size: 1rem;
    color: rgba(73, 80, 87,0.92);
}